#all {
  border: 4px solid blueviolet;
  width: 500px;
  height: 250px;
  top: 110px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
#db {
  position: absolute;
  width: 100px;
  height: 75px;
  top: 50px;
  right: 350px;
  border: 2px dotted black;
}
#hhh {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 175px;
  right: 237px;
  border: 2px dotted red;
}
#awsl {
  position: absolute;
  width: 100px;
  height: 75px;
  top: 50px;
  right: 50px;
  border: 2px dotted black;
}
